
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


nav {
    background-color: #5f5353;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #807b51;
    margin: 30px;
    border-radius: 10px;
}


header {
    background-image: url('banner5.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 3em;
    background-color: rgba(128, 129, 58, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.categoria{
    color: #4e4c4c;
}

.Tendencias{
    color: #4e4c4c;
}
section {
    padding: 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}


.categorias, .productos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.categorias div, .productos div {
    width: 30%;
    padding: 20px;
    background-color: #4e4c4c;
    border-radius: 10px;
}
.eslo{
    background-color: #57544098;
    padding: 30px;
    font-size: 30px;
    border-radius: 20px;
    color: #ffffff;
    
}

footer {
    background-image: url('footer.jpg');
    color: white;
    padding: 20px;
    text-align: center;
}
